/*-------- Common Styles ---------*/
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap');

body {
    font-family: 'Edu SA Beginner', cursive;
    margin: 0;
}

button {
    font-family: 'Edu SA Beginner', cursive;
    font-weight: 600;
}

/* --------------Header---------------- */
.header {
    display: flex;
    justify-content: center;
}

.top-banner {
    background-color: #161616;
    width: 1321px;
    height: 646px;
    border-radius: 30px;
    background-image: url(assets/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 600px 100%;
    margin-top: 20px;
    margin-bottom: 130px;
}

.banner-text {
    padding: 111px 106px;
    width: 531px;
    height: 424px;
}

.title {
    color: white;
    font-weight: 700;
    font-size: 70px;
}

.title-info {
    color: white;
    font-size: 16px;
    padding-top: 40px;
    padding-right: 60px;
}

.special-button {
    width: 187px;
    height: 56px;
    margin-top: 40px;
    background-color: #DD0000;
    border-radius: 10px;
    font-size: 20px;
    color: white;
}

span {
    padding-right: 20px;
}

.fa-arrow-right-to-bracket {
    transition: transform 3s linear;
}

.watch:hover .fa-arrow-right-to-bracket {
    transform: rotate(3600deg);
    transform-origin: center;
}

/* Blog Section Flex */
.blog-section {
    display: flex;
    justify-content: center;
}

/*------------------- Navigation ----------------------*/

.nav-box {
    background-color: #161616;
    width: 312px;
    height: 312px;
    border-radius: 10px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.nav-btn {
    background-color: white;
    color: #161616;
    font-weight: 700;
    font-size: 20px;
    width: 252px;
    height: 50px;
    border-radius: 10px;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.select {
    font-weight: 900;
    font-size: 25px;
    color: black;
}

.selected {
    background-color: #DD0000;
    color: azure;
}

/*-------------------- Blogs ------------------------*/
.blogs,
.match-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 40px;
}

.blog,
.match {
    width: 312px;
    height: 362px;
    border: 1px solid #161616;
    border-radius: 10px;
}

.blog-stuff {
    padding-left: 20px;
}

.match {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.versus {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
}

.blog img {
    width: 100%;
}

. .blog-stuff {
    padding-left: 20px;
    padding-right: 0;
}

.transfer {
    background-color: white;
    border: 1px solid #161616;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 16px;
}

.blog-title,
.match-title {
    font-size: 18px;
    width: 272px;
    height: 54px;
    margin-bottom: 0;
}

.match-title {
    text-align: center;
}


.blog-info {
    display: flex;
    justify-content: space-between;
    width: 143px;
    height: 26px;
}

.view {
    display: none;
}

/* -------------------FOOTER----------------- */
footer {
    height: 444px;
    margin-top: 130px;
    background-color: #161616;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}


.footerball {
    color: white;
    font-size: 40px;
    margin-top: 130px;
}


hr {
    width: 1320px;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.extra-section {
    display: flex;
    justify-content: space-between;
    width: 898px;
    height: 50px;
}

.extra-footer-info {
    color: white;
}

.social {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.social-icons {
    font-size: 50px;
    color: black;
}


.fa-instagram {
    background-image: linear-gradient(#405DE6, #5851D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
    border-radius: 10px;
}

.fa-facebook-square {
    color: #1877F2;
}

.fa-discord {
    color: #5865F2;
}

/*-------------------------- MEDIA QUERIES ------------------------------*/

/* Tablet */
@media screen and (min-width:768px) and (max-width:992px) {

    /*---------- BANNER ----------*/
    .top-banner {
        height: auto;
        width: 100%;
        background-size: 40%;
        margin: 50px;
    }

    .banner-text {
        padding: 50px;
        width: auto;
        height: auto;
    }

    .title {
        font-size: 3em;
        width: 50%;
    }

    .title-info {
        width: 50%;
    }

    /*----------- BLOG SECTION --------------*/
    .blog-section {
        flex-direction: column;
        align-items: center;
    }

    .nav-box {
        width: 100%;
        background-color: white;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
    }

    .nav-btn {
        border: 1px solid #161616;
        width: 30%;
    }

    .blogs,
    .match-grid,
    .match-grid {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }


    .blog {
        width: 80%;
    }


    .view {
        display: block;
    }

    /*------------- FOOTER ----------*/
    footer {
        height: 350px;
    }

    .footerball {
        margin-top: 90px;
    }

    hr {
        width: 90%;
    }

    .extra-section {
        width: 90%;
    }
}

.social-icons {
    font-size: 30px;
}

.fa-instagram {
    padding: 3px;
    padding-bottom: 0;
    padding-right: 5px;
}

/* Mobile */
@media screen and (max-width:688px) {

    /* BANNER */
    .top-banner {
        display: flex;
        flex-direction: column;
        width: 90%;
        background-size: 20%;
        background-position: bottom;
        background-size: 80%;
    }

    .banner-text {
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title {
        font-size: 3em;
        text-align: center;
        padding-top: 50px;
    }

    .title-info {
        text-align: center;
        padding: 0;
        padding-top: 50px;
        width: 90%;
        height: 60px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .watch {
        margin: 0;
    }

    /* BLOG SECTION */
    .blog-section {
        flex-direction: column;
        align-items: center;
    }

    .nav-box {
        background-color: white;
        margin: 0;
        margin-bottom: 20px;
    }

    .blogs,
    .match-grid {
        grid-template-columns: 1fr;
    }

    /* FOOTER */
    footer {
        height: 510px;
    }

    hr {
        width: 90%;
    }

    .extra-section {
        width: 90%;
        flex-direction: column;
        align-items: center;
        display: contents;
    }

    .extra-footer-info {
        margin: 10px;
    }

    .social {
        margin: 0;
    }
}