/*-------- Common Styles ---------*/
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap');

body {
    font-family: 'Edu SA Beginner', cursive;
    margin: 0;
}

button {
    font-family: 'Edu SA Beginner', cursive;
    font-weight: 600;
}

/* --------------Header---------------- */
.header {
    display: flex;
    justify-content: center;
}

.top-banner {
    background-color: #161616;
    width: 1321px;
    height: 646px;
    border-radius: 30px;
    background-image: url(assets/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 600px 100%;
    background-position-x: 690px;
    margin-top: 20px;
    margin-bottom: 130px;
}

.banner-text {
    padding: 111px 106px;
    width: 531px;
    height: 424px;
}

.title {
    color: white;
    font-weight: 700;
    font-size: 70px;
}

.title-info {
    color: white;
    font-size: 16px;
    padding-top: 40px;
    padding-right: 60px;
}

.watch {
    width: 187px;
    height: 56px;
    margin-top: 40px;
    background-color: #DD0000;
    border-radius: 10px;
    font-size: 20px;
    color: white;
}

span {
    padding-right: 20px;
}

.fa-arrow-right-to-bracket {
    transition: transform 3s linear;
}

.watch:hover .fa-arrow-right-to-bracket {
    transform: rotate(3600deg);
    transform-origin: center;
}

/* Blog Section Flex */
.blog-section {
    display: flex;
    justify-content: center;
}

/*------------------- Navigation ----------------------*/

.nav-box {
    background-color: #161616;
    width: 312px;
    height: 312px;
    border-radius: 10px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.nav-btn {
    background-color: white;
    color: #161616;
    font-weight: 500;
    font-size: 20px;
    width: 252px;
    height: 50px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.selected {
    background-color: #DD0000;
    color: azure;
}

/*-------------------- Blogs ------------------------*/
.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    row-gap: 40px;
}

.blog {
    width: 312px;
    height: 362px;
    border: 1px solid #161616;
    border-radius: 10px;
}

.blog img {
    width: 100%;
}

.blog-stuff {
    padding-left: 20px;
    padding-right: 0;
}

.transfer {
    background-color: white;
    border: 1px solid #161616;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 16px;
}

.blog-title {
    font-size: 18px;
    width: 272px;
    height: 54px;
    margin-bottom: 0;
}


.blog-info {
    display: flex;
    justify-content: space-between;
    width: 143px;
    height: 26px;
}

/* -------------------FOOTER----------------- */
footer {
    height: 444px;
    margin-top: 130px;
    background-color: #161616;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}


.footerball {
    color: white;
    font-size: 40px;
    margin-top: 130px;
}


hr {
    width: 1320px;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.extra-section {
    display: flex;
    justify-content: space-between;
    width: 898px;
    height: 50px;
}

.extra-footer-info {
    color: white;
}


/*-------------------------- MEDIA QUERIES ------------------------------*/
@media screen and (min-width:76px) and (max-width:992px) {
    header {
        width: 100%;
    }

    .top-banner {
        width: 100%;
        background-color: #DD0000;
    }

}